---

---
<style>
    .card_user{
        background-color: #0d0d0d;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        & img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0px 0px 5px white;
            margin: 20px 0;
        }font-family: "Open Sans";
        & .name_auth{
            color: white;
            font-size: 30px;
            font-weight: 400;
        }
    }
</style>
<div class="card_user">
    <img src="https://media.licdn.com/dms/image/v2/D5603AQFm-stmiDoDvA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1732077424965?e=1748476800&v=beta&t=3Thw14SKE4545jviMpbhYNjdGS_2vYWrTEx6x2DJ3i8" alt="">
    <p class="name_auth">Steven Layna</p>
    <p></p>
</div>